{
  "extends": ["stylelint-config-recess-order"],
  "overrides": [
    {
      "files": ["**/*.{html,vue}"],
      "customSyntax": "postcss-html"
    },
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "color-hex-case": "lower"
  }
}
